@import url(//db.onlinewebfonts.com/c/ff43e14bdcc67883fbd7a6f6223920cc?family=Microsoft+Tai+Le);
@font-face {font-family: "Microsoft Tai Le"; src: url("//db.onlinewebfonts.com/t/ff43e14bdcc67883fbd7a6f6223920cc.eot"); src: url("//db.onlinewebfonts.com/t/ff43e14bdcc67883fbd7a6f6223920cc.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ff43e14bdcc67883fbd7a6f6223920cc.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ff43e14bdcc67883fbd7a6f6223920cc.woff") format("woff"), url("//db.onlinewebfonts.com/t/ff43e14bdcc67883fbd7a6f6223920cc.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ff43e14bdcc67883fbd7a6f6223920cc.svg#Microsoft Tai Le") format("svg"); }


* {
    font-family: "Microsoft Tai Le",'Arial Narrow', Arial, sans-serif;
}


 /* POR SI FALLA BOOTSTRAP AL HACER EL RESPONSIVE DESIGN
 breakpoint  {
    max-width: 100%;
    display: inline-block;
    }
    /* 2 columnas para tablets *//*
    @media (min-width: 420px) {
        breakpoint  {
        max-width: 48%;
        }
        }
        /* 4 columnas para grandes dispositivos*//*
        @media (min-width: 760px) {
        breakpoint  {
        max-width: 24%;
        }
        }*/



/* RESOLUCIÓN MÓVIL INTERMEDIO (IPHONE X) */

@media (max-width: 500px) {

.mi-navbar{
    
    background-color: steelblue;
    /*background: linear-gradient(70deg, rgb(13, 155, 238)),rgb(13, 155, 238);*/
    
    border-bottom: 5px solid lightblue;
    
    
    
}  



.logo-header {
    width: 20%;
    height: 5%;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='lightblue' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}




#mi-dropdown {
    z-index: 2000;
    
}

.links-header {
    list-style: none;
    text-align: end;
    padding: 7px;
}

.etiq-links {
    color: white;
    
}

.carrusel {
    max-height: 563px;
    background-size: cover;
    width: 100%;
}

.info-general {
    background-size: cover;
}


.info-general {
    background-color: lightblue;
}
.recuadro-grande-info {
    border:15px solid lightblue;
    background-color: steelblue;
    border-radius: 25px;
}

.fondo-azul-redondeado {
    border-radius: 25px;
    padding: 20px 0;
}

.icono-edificio {
    font-size:36px; 
    margin-top:15px; 
    color: steelblue;
}

.row1-container {
    margin-left: 20px;
}

.icono-avion {
    margin: 25%;
    color: steelblue;
}

.social-links {
    color: white;
    font-size: 14px;
    
}
.logo-fb {
   transform: translate(-17px,0);
}

.FB {
    margin-left: 16px;
}

.letras-FB {
    transform: translate(11px);
}

.mi-copyright {
    transform: translate(40px,20px);
    color: white;
    max-width: 300px;
    font-size:14px;
}

.widget-sky {
    padding:25px;
}
 .tit-registro {
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;                
}

.centrar-todo-registro {
    margin: 0 94px;
}

.circulo-icono-reg {
    width: 55px;
    height: 55px;
    transform: translate(52px);
    text-align: center;
    border-radius: 50%;
    background-color: lightblue;
    float: left;
}

.circulo-inicio-sesion {
    width: 55px;
    height: 55px;
    /*transform: translate(52px);*/
    text-align: center;
    border-radius: 50%;
    background-color: lightblue;
   /* float: left;*/
    margin: auto;
}

.icono-sonriente {
    transform: translate(0px,10px);
    font-size:36px; 
    margin-bottom: 15px; 
    color: steelblue;
}

.labels-reg-log {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.inputs-reg-log {
    width: 200px;
    border: 1px solid lightcoral;
    border-radius: 25px;
    transform: translate(-22px,0);
}


.botton-registrar {
    width: 120px;
    background-color: lightcoral;
    transform: translate(20px,0);
    border: 1px solid lightcoral;
    border-radius: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px;
    color:white
}

.icono-risa {
    font-size:18px; 
    padding-top:3px; 
    margin-bottom: 15px; 
    color: steelblue;
}

.icono-inicio-sesion {
    font-size:34px; 
    transform: translate(0,-18px); 
    color: steelblue;
}

.botton-ini-ses {
    width: 160px;
    background-color: lightcoral;
    /*transform: translate(px,0);*/
    border: 1px solid lightcoral;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    color:white
}

.tit-ini-ses {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.titulo_ciudad_h2 {
    font-size: 28px;
    margin: 90px 10px 10px;
}

.parraf_ciudad_p {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

 .imag_ciudad_img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.carousel-item .img-fluid {
    width:100%;
  }


}





/* RESOLUCIÓN LAPTOP NORMAL */


@media (min-width: 501px) {
    .carousel-item .img-fluid {
        width:100%;
      }
    

    .mi-navbar{
        width: 100%;
        height: 75px;
        background-color: steelblue;
        
        border-bottom: 5px solid lightblue;
        position: fixed;
    }  
    
    
    
    .logo-header {
        width: 10%;
        height: 20%;
    }
    

    .icon-bar{
        z-index: 2000;
        background-color: #14EBDE;
    }

    #mi-dropdown {
        z-index: 2000;
        
    }
    
    .links-header {
        list-style: none;
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;

    }
    
    .etiq-links {
        color: white;
        
    }

    .carrusel {
        max-height: 840px;
        background-size: cover;
        width: 100%;
    }


    .info-general {
        background-color: lightblue;
    }
    .recuadro-grande-info {
        border:35px solid lightblue;
        background-color: steelblue;
        border-radius: 55px;
    }
    
    .fondo-azul-redondeado {
        border-radius: 35px;
        padding: 20px 0;
    }

    .icono-edificio {
        font-size:120px; 
        margin: 19%;
        color: steelblue;
    }
    
    .row1-container {
        margin-left: 20px;
    }

    .icono-avion {
        font-size:100px; 
        margin:25%;
        color: steelblue;
    }

    .social-links {
        color: white;
        font-size: 20px;
        padding: 10px;
        transform: translate(-65px,0);
    }

    .iconos-social {
        color:white;
        font-size: 35px;
        transform: translate(0,8px);

    }
    .logo-fb {
       transform: translate(-75px,7px);
    }
    
    .FB {
        margin-left: 75px;
    }
    
    .mi-copyright {
        
        margin-left:500px;
        margin-top: 80px;
        color: white;
        max-width: 300px;
        font-size:20px;
    }

    .tit-ini-ses {
        font-size: 20px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    
    .titulo_ciudad_h2 {
        font-size: 28px;
        margin: 105px 25px 10px;
    }
    
    .parraf_ciudad_p {
        margin-right: 25px;
        margin-left: 25px;
        margin-bottom: 40px;
    }
    
     .imag_ciudad_img {
        width: 100%;
        height: 100%;
    }

    .widget-sky {
        padding:75px;
    }

    .seccion-registro {
        max-height: 100%;
        width: 100%;
    }

     .tit-registro {
        font-size: 34px;
        text-align: center;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
                      
    }

    .form-registro {
        width: 10px;
        margin-left: 600px;
        
    }
    
    .centrar-todo-registro {
        align-items: center;
        justify-content: center;
    }
    
    .circulo-icono-reg {
        width: 155px;
        height: 155px;
        margin: 15px auto;
        text-align: center;
        border-radius: 50%;
        background-color: lightblue;
       
        
    }
    
    .icono-sonriente {
        transform: translate(0px,28px);
        font-size:100px; 
        margin-bottom: 15px; 
        color: steelblue;

    }
    
    .labels-reg-log {
        text-align: center;
        width: 100%;
        margin-top: 10px;

        font-size: 20px;
        transform: translate(-309px);
    }
    
    .inputs-reg-log {
        width: 500px;
        border: 1px solid lightcoral;
        border-radius: 25px;
        margin-left: 55px;
    }
    
    
    .botton-registrar {
        width: 500px;
        background-color: lightcoral;
        
        border: 1px solid lightcoral;
        border-radius: 15px;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
        padding: 7px;
        color:white
    }

    .seccion-ini-sesion {
        max-height: 100%;
        max-width: 100%;
    }

    .form-inicio-sesion{
        max-height: 100%;
        max-width: 100%;
    }

    .form-ini-ses {
        max-height: 100%;
        max-width: 100%;
    }


    .icono-risa {
        font-size: 50px; 
        padding-top; 
        margin-bottom: 15px; 
        color: steelblue;
        transform: translate(10px,0px); 
    }


    .icono-inicio-sesion {
        font-size: 80px; 
        transform: translate(-10px,50px); 
        color: steelblue;
    }

    .circulo-inicio-sesion {
        width: 155px;
        height: 155px;
        /*transform: translate(532px);*/
        text-align: center;
        border-radius: 50%;
        background-color: lightblue;
        /*float: left;*/
        margin: 15px auto;
    }

    .label-ini-ses {
        margin-left: 300px;


    }

    .input-ini-ses {
        margin-left: 362px;
       
    }

    .botton-ini-ses {
        width: 500px;
        background-color: lightcoral;
        transform: translate(362px,25px);
        border: 1px solid lightcoral;
        border-radius: 20px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 60px;
        padding-top: 5px;
        color:white;
        max-height: 100%;

    }
    
    .tit-ini-ses {
        font-size: 34px;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    /*.error {
        margin-left: 55px;
        max-width: 100%;
    }*/

}


/*Ajustes*/
.form-login > label {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
}

.form-login > input{
    width: 500px;
    border: 1px solid lightcoral;
    border-radius: 25px;
    padding: 0 10px;
}

.form-login > button {
    width: 500px;
    background-color: lightcoral;
    border: 1px solid lightcoral;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 5px 0;
    color: white;
}

@media (max-width: 550px) {
    .form-login > input,
    .form-login > button{
        width: 100%;
    }

    .form-login > label{
        font-size: 18px;
    }
}



.form-signup > label {
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
}

.form-signup > input{
    width: 500px;
    border: 1px solid lightcoral;
    border-radius: 25px;
    padding: 0 10px;
}

.form-signup > button {
    width: 500px;
    background-color: lightcoral;
    border: 1px solid lightcoral;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 5px 0;
    color: white;
}

.filas-info {
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filas-info:nth-of-type(2){
    margin-top: 40px;
}

.filas-info h2 {
    font-size: 38px;

}

.filas-info p {
    font-size: 28px;
}

.icono-info {
    font-size: 120px;
    height: 25px;
    width: 25px ;
    text-align: center;
    z-index: 30;
}

.icono-edificio {
    font-size:120px;
    margin: 19%;
    color: steelblue;
}

.circulo-icono {
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 50%;
    background-color: lightblue;
    text-align: center;
}

/*Seccion de busqueda*/
.fondo-seccion-busqueda {
    background-image: url(img/img-fondo-busqueda.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seccion-busqueda {
    background-color: lightsteelblue;
    border: 15px solid white;
    border-radius: 25px;
    padding: 50px;
}
.titulo-busqueda {
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
    color: lightcoral;
}
.seccion-busqueda > form {
    text-align: center;
}

.botton-buscar {
    padding: 10px 0;
    width: 100%;
    background-color: lightcoral;
    border: 1px solid lightcoral;
    border-radius: 15px;
    color:white;
    margin-top: 20px;
}

#donde-voy-hoy {
    width: 100%;
    height: 2em;
    border: 1px solid lightcoral;
    border-radius: 20px;
    padding-left: 8px;
}

/*Footer*/

footer {
    background-color: #7A5E83;
    padding: 40px 0;
}
footer .footer-wrap-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social-media{
    display: flex;
    flex-direction: column;
}
footer .social-media a{
    font-size: 20px;
}
footer .social-media i{
    margin-right: 5px;
}

/*Media Queries*/

@media (min-width: 1200px) {
    .filas-info-text{
        width: 700px;
    }
}
@media (max-width: 1199px) {
    .filas-info-text{
        flex: 1;
        padding-left: 35px;
    }
}
@media (max-width: 768px){
    .icono-edificio{
        font-size: 80px;
    }
    .icono-avion{
        font-size: 70px;
    }
    .circulo-icono{
        width: 140px;
        min-width: 140px;
        height: 140px;
    }
    .filas-info h2{
        font-size: 28px;
    }
    .filas-info p{
        font-size: 20px;
    }
    .fondo-azul-redondeado{
       padding: 20px 10px;
    }
    .filas-info-text{
        padding-left: 15px;
    }
    .filas-info:nth-of-type(2) {
        margin-top: 15px;
    }
    .seccion-busqueda{
        padding: 30px 40px;
    }
    .fondo-seccion-busqueda{
        height: 400px;
        padding: 0 10px;
    }
}

@media (max-width: 550px) {
    .form-signup > input,
    .form-signup > button{
        width: 100%;
    }
    .form-signup > label{
        font-size: 18px;
    }
    .titulo-busqueda{
        font-size: 36px;
    }
}
